<div class="squatch-attribution">
  <a href="{{stringFormat "https://get.referralsaasquatch.com/powered-by/?co=%s" (urlencode companyName space="%20")}}" target="_blank">{{variables 'widget.REFERRER_WIDGET.content.textVariables.attribution'}}</a>
</div>
