<div class="squatch-lead">
  {{#if referredBy.referredReward.fuelTankCode}}
    {{variables 'widget.CONVERSION_WIDGET.content.widgetCustomization.headerDetailsFuelTank'}}
  {{else}}
    {{variables 'widget.CONVERSION_WIDGET.content.widgetCustomization.headerDetails'}}
  {{/if}}
</div>
