<div class="squatch-register 
{{#unless fields.email}}
  {{#unless fields.lastName}}
    {{#unless fields.firstName}}
      hidden
    {{/unless}}
  {{/unless}}
{{/unless}}">

  {{text}}

  <div class="form">
    {{#if fields.firstName}}
      <input id="squatch-user-firstname" class="form-control input-field" placeholder="First Name">
    {{/if}}
    {{#if fields.lastName}}
      <input id="squatch-user-lastname" class="form-control input-field" placeholder="Last Name">
    {{/if}}
    {{#if fields.email}}
      <input id="squatch-user-email" class="form-control input-field" placeholder="Email"/>
    {{/if}}
    <button id="squatch-send-email" class="btn btn-primary">{{variables 'widget.REFERRER_WIDGET.content.textVariables.registerButton'}}</button>
  </div>
</div>